

<div class="logo">
 <%= image_tag "logo.png" %>
</div>

<div class="fbLogin">
<%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-primary" %>
</div>

<div class="well">
	<h3 class="mission_statement"> Contigo is a Uber based application, that will help our users find people around them traveling to a common area. Just search by your current location and Contigo will find people you can share an Uber ride with. Contigo makes ride sharing easy while also saving you time and money!</h3>
</div>

<div>
<a href="lyft://"> <%= image_tag('lyft_mobile.png')%> </a>
</div>

<div>
<a href="<%= @uber_url %>"><%= image_tag('uber_mobile.png')%> </a> 
</div>

<div class="well search_box">
	<form action="" method="POST" role="form" class="search_form">
		<legend>Search</legend>
		<div class="form-group">
			<label for="">label</label>
			<input type="text" class="form-control" id="" placeholder="Zip Code">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>