<!DOCTYPE html>
<html>
<head>
  <title>RideWitMe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> 
 <!-- only if you need custom infoboxes -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Voltaire' rel='stylesheet' type='text/css'>
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<div id="container">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand small_logo" href="/"><%= image_tag ('small_logo.png')%></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right">
          <% if @current_user %>
					 <button class="btn btn-priamry nav-button"><%= link_to "Logout", auth_logout_path %></button>
					 
          <% end %>
					<li class="active"><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
				  <button class="btn btn-priamry nav-button"><%= link_to "Search", destination_path %></button>
				<button class="btn btn-priamry nav-button"><%= link_to "Home", root_path %></button>

				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>
	<%= yield %>
</div>
</body>
</html>
